div {
 display: flex;
 justify-content: center;

}
.sample{
    padding: 50px;

}
#demo{
    margin: 0 auto;
    width: 250px;
}

div3{
    display: flex;
    justify-content: center;
}

h3{
    display: flex;
    justify-content: center;
    color:purple;
}

h4{
   
    color: purple;
}

form { 
    margin: 0 auto; 
    width:250px;
    }
  
img {
 
width: 200px;

}

